.logo-gasista {
  height: 76px; }

.fa-instagram {
  font-size: 25px;
  padding: 5px;
  background-color: #e17e09;
  color: white; }
  .fa-instagram:hover {
    color: #36250f7e; }

.fa-facebook {
  font-size: 25px;
  padding: 5px;
  background-color: #e17e09;
  color: white; }
  .fa-facebook:hover {
    color: #36250f7e; }

.font-medium li .block {
  border-bottom: #e17e09 solid 2px; }

.banner-section img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  position: absolute;
  z-index: -1111;
  filter: brightness(0.5); }

.banner-section h2 {
  text-align: center;
  align-items: center;
  display: flex;
  color: white;
  letter-spacing: 1px; }

.btn-contacto {
  background-color: #e17e09;
  font-weight: 500;
  margin: 10px 0px;
  border-radius: 0; }
  .btn-contacto:hover {
    background-color: #e1800989; }

.text-banner {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px; }

.services-section-container {
  text-align: center;
  background-color: #f1f1f1; }
  .services-section-container #services-section-title {
    padding: 100px; }
    .services-section-container #services-section-title h1 {
      display: flex;
      justify-content: center;
      font-size: 50px;
      color: #e18009;
      font-weight: 700;
      letter-spacing: 1px; }
    .services-section-container #services-section-title h5 {
      margin: 15px 0px;
      font-weight: 500; }
  .services-section-container .services-section {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center; }
    .services-section-container .services-section .row {
      display: flex;
      flex-wrap: wrap; }
      .services-section-container .services-section .row .column {
        width: 100%;
        padding: 0 1em 1em 1em;
        text-align: center; }
        .services-section-container .services-section .row .column .card {
          width: 100%;
          height: 100%;
          padding: 2em 1.5em;
          background: linear-gradient(#ffffff 50%, #e17e09 50%);
          background-size: 100% 200%;
          background-position: 0 2.5%;
          border-radius: 5px;
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          transition: 0.5s; }
          .services-section-container .services-section .row .column .card h3 {
            font-size: 20px;
            font-weight: 600;
            color: #1f194c;
            margin: 1em 0; }
            .services-section-container .services-section .row .column .card h3:hover {
              color: #ffffff; }
          .services-section-container .services-section .row .column .card p {
            color: #f0f0f0;
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 0.03em; }
          .services-section-container .services-section .row .column .card:hover {
            background-position: 0 100%; }
          .services-section-container .services-section .row .column .card .icon-wrapper {
            background-color: #e17e09;
            position: relative;
            margin: auto;
            font-size: 30px;
            height: 2.5em;
            width: 2.5em;
            color: #ffffff;
            border-radius: 50%;
            display: grid;
            place-items: center;
            transition: 0.5s; }
            .services-section-container .services-section .row .column .card .icon-wrapper:hover {
              background-color: #ffffff;
              color: #e17e09; }

@media screen and (min-width: 768px) {
  .services-section {
    padding: 0 2em; }
  .column {
    flex: 0 50%;
    max-width: 50%; } }

@media screen and (min-width: 992px) {
  s.services-section {
    padding: 1em 3em; }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%; } }

.hero {
  background-color: #f8f8f8;
  overflow: hidden; }

.heading h1 {
  color: #ff6347;
  font-size: 55px;
  text-align: center;
  margin-top: 35px; }

.container-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 65px auto; }

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease; }
  .hero-content h2 {
    font-size: 33px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #e17e09; }
  .hero-content p {
    color: #666; }

.hero-image {
  display: flex;
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
  justify-content: center; }
  .hero-image .img-sobremi {
    width: 69%;
    height: auto;
    border-radius: 10px; }

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px; }
  .hero {
    margin: 0px; }
  .container-sobremi {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px; }
  .hero-content {
    width: 100%;
    margin: 35px 0px; }
    .hero-content h2 {
      text-align: center;
      font-size: 30px; }
    .hero-content p {
      font-size: 18px;
      margin-bottom: 20px; }
  .hero-image {
    width: 100%; }
    .hero-image .img-sobremi {
      width: 100%;
      height: auto;
      border-radius: 10px; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

.body-contact-info {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 50px; }

.card {
  background-color: #2f3542;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer; }

.card-icon {
  font-size: 28px;
  background: #e18009;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear; }

.card:hover .card-icon {
  background: none;
  color: #e18009;
  transform: scale(1.6); }

.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear; }

.card:hover p {
  max-height: 40px;
  opacity: 1; }

.contact-title {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #e18009;
  font-weight: 700;
  letter-spacing: 1px; }

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
    height: 830; }
  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0; } }

.text-footer {
  font-size: 13px;
  text-align: center; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 100px 100px 100px; }
  .gallery .contact-title {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #e18009;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center; }
  .gallery .column {
    flex: 25%;
    max-width: 25%; }
    .gallery .column .img-hover-zoom {
      cursor: pointer;
      height: auto;
      overflow: hidden;
      border: 5px solid #ffff; }
      .gallery .column .img-hover-zoom img {
        vertical-align: middle;
        margin: 0;
        padding: 0;
        border: 0;
        transition: transform 0.5s ease; }
        .gallery .column .img-hover-zoom img:hover {
          transform: scale(1.5); }

@media screen and (max-width: 800px) {
  .gallery {
    padding: 0px; }
    .gallery .column {
      flex: 50%;
      max-width: 50%; } }

@media screen and (max-width: 500px) {
  .gallery {
    padding: 0px; }
    .gallery .column {
      flex: 100%;
      max-width: 100%; } }
