.banner-section {
    img {
        width: 100%;
        height: 55%;
        object-fit: cover;
        position: absolute;
        z-index: -1111;
        filter: brightness(0.5);
    }
    h2 {
        text-align: center;
        align-items: center;
        display: flex;
        color: white;
        letter-spacing: 1px;
    }
}

.btn-contacto {
    background-color: #e17e09;
    font-weight: 500;
    margin: 10px 0px;
    border-radius: 0;
    &:hover {
        background-color: #e1800989;
    }
}

.text-banner {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
}
